# Python cache & build
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
env/
ENV/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment secrets
.env
.env.local
